h1{
    
    color:orange;
    
    font-size: 45px;
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

header {
    background-color:navy;
    margin-top: 150px;
    margin-bottom: 6px;

    
}

body {
    background-color:orange;
    background-image: url('Logo.png');
    background-repeat: repeat-x;
    background-size: 102px;   
}

h2{
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 35px;
    color:snow;
    background-color: black;
    display: inline-flexbox;
    margin-bottom: 10px;
   
}

.textos {
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 30px;
    margin-bottom: 8px;
    padding:5px;
    margin-left: 3px;
    text-align:left;
}

.fotos {
    text-align: center;
} img {
    width: 170px;
    border-radius: 5px;
    margin: 10px;

}



.adopta {
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.adopt {
margin-right: 15px;
}

footer {
    background-color: black;
   padding: 30px;
   color: white; 
   font-family: 'Baloo Chettan 2', cursive;
   font-size: 20px;
   text-align: center;
   
}
.MP {
    width: 60px;
}
.insta {
    text-align: left;
    margin-right: 10px;
}
.face {
    display: inline;
    text-align: right;
}

